{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {# message box #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <pre>
                            {{ message }}
                        </pre>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="form-inline">
                <form action="{{ url_for('gettaginfo') }}" method="get">
                    <input type="text" title="search" name="q">
                    <button class="btn btn-info btn-small" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    <div class="btn-group pull-right">
                        <a class="btn btn-info btn-small" href="{{ url_for('addtag') }}"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-default btn-small" href="{{ url_for('getalltags') }}"><i class="glyphicon glyphicon-circle-arrow-down"></i></a>
                    </div>
                </form>
            </div>

            {% if tagname %}
                <table class="table">
                    <tr>
                        <th class="tablewidth">Tagname</th>
                        <th>Hosts</th>
                        <th>Groups</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><b>{{ tagname }}</b></td>
                        <td><b>{{ hostres }}</b></td>
                        <td><b>{{ groupres }}</b></td>
                        <td><b>{{ roleres }}</b></td>
                        <td></td>
                    </tr>
                </table>
            {% endif %}

            {% if alltags %}
                {%  if pagination %}
                    {{ pagination.links|safe }}
                {% endif %}
                <table class="table">
                <tr>
                    <th class="tablewidth">Tag name</th>
                    <th>Hosts</th>
                    <th>Groups</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
                {% for tag, item in alltags.iteritems() %}
                    <tr>
                        <td><b>{{ tag }}</b></td>
                        <td> {{ item }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div><!-- end div #col-md-6 -->
    </div>
{% endblock %}