{% extends "ironhide-base.html" %}

{% block body %}
    <h2>Welcome to Autobot / Ironhide</h2>
    <h3><a href="{{ url_for('ironhide') }}">Ironhide</a> is an ansible inventory management tool.</h3>
    <!-- <h3><a href="{{ url_for('bumblebee') }}">Bumblebee</a> is an ansible driven CMDB with task management</h3>
    <h3><a href="{{ url_for('optimus') }}">Optimus Prime</a> is our custom finite state machine</h3>
    <h3><a href="{{ url_for('ratchet') }}">Ratchet</a> is our mini irc server for standalone deployments</h3>
    <p>Click on their icons below to switch interfaces</p> --!>

{% endblock %}
